<%= form_with(model: @highlight, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :trip_id, value: @trip.id %>

  <%= f.submit "Create highlight", class: "btn btn-block btn-outline-secondary" %>
<% end %>
