<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @trip, partial: "card", as: :trip %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "trips/trip_locations" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "trips/trip_dinings" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "trips/trip_activities" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "trips/trip_highlights" %>
  </div>
</div>
  <!-- Show Page Customization end -->
