<% was_validated = user.errors.any? %>

<%= form_with(model: user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% full_name_class = "form-control" %>
    <% full_name_was_invalid = user.errors.include?(:full_name) %>

    <% if was_validated %>
      <% if full_name_was_invalid %>
        <% full_name_class << " is-invalid" %>
      <% else %>
        <% full_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :full_name %>
    <%= f.text_field :full_name, class: full_name_class, placeholder: "Enter full name" %>
    <% if full_name_was_invalid %>
      <% user.errors.full_messages_for(:full_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
