<%= form_with(model: @trip, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cover_photo %>

    <%= f.file_field :cover_photo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>

    <%= f.date_select :start_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end_date %>

    <%= f.date_select :end_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo_album_link %>

    <%= f.text_field :photo_album_link, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Create trip", class: "btn btn-block btn-outline-secondary" %>
<% end %>
