<div class="card mb-3">
  <h2 class="card-header h4">
    Dining #<%= dining.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Dining type</dt>
      <dd><%= dining.dining_type %></dd>

      <dt>Dining name</dt>
      <dd><%= dining.dining_name %></dd>

      <dt>Rating</dt>
      <dd><%= dining.rating %></dd>

      <dt>Location</dt>
      <dd>
        <% if @dining.location.present? %>
          <%= link_to dining.location, dining.location %>
        <% end %>
      </dd>

      <dt>Trip</dt>
      <dd>
        <% if @dining.trip.present? %>
          <%= link_to dining.trip, dining.trip %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back dining, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_dining_url(dining), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to dining, method: :delete, data: { confirm: "Do you really want to delete this dining?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(dining.updated_at) %> ago
  </div>
</div>
