<!-- Form dish start -->
<%= form_with(model: @dish, local: true) do |f| %>
<!-- Form dish end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <%= f.label :name %>

    <!-- Input for name start -->
    <%= f.text_field :name, class: "form-control" %>
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for dinings_id start -->
  <!-- Input for dinings_id start -->
  <%= f.hidden_field :dinings_id, value: @dining.id %>
  <!-- Input for dinings_id end -->
  <!-- Label and input for dinings_id end -->

  <%= f.submit "Create dish", class: "btn btn-block btn-outline-secondary" %>
<% end %>
