<%= form_with(model: @dining_experience, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :type_of_dining %>

    <%= f.select :type_of_dining, options_for_select(DiningExperience.type_of_dinings.keys), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rating %>

    <%= f.text_field :rating, class: "form-control" %>
  </div>

  <%= f.hidden_field :location_id, value: @location.id %>

  <div class="form-group">
    <%= f.label :trip_id %>

    <%= f.collection_select :trip_id, Trip.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create dining experience", class: "btn btn-block btn-outline-secondary" %>
<% end %>
