<% was_validated = dining_experience.errors.any? %>

<%= form_with(model: dining_experience, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = dining_experience.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% dining_experience.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% type_of_dining_class = "form-control" %>
    <% type_of_dining_was_invalid = dining_experience.errors.include?(:type_of_dining) %>

    <% if was_validated %>
      <% if type_of_dining_was_invalid %>
        <% type_of_dining_class << " is-invalid" %>
      <% else %>
        <% type_of_dining_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :type_of_dining %>
    <%= f.select :type_of_dining, options_for_select(DiningExperience.type_of_dinings.keys), {}, class: "form-control" %>
    <% if type_of_dining_was_invalid %>
      <% dining_experience.errors.full_messages_for(:type_of_dining).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% rating_class = "form-control" %>
    <% rating_was_invalid = dining_experience.errors.include?(:rating) %>

    <% if was_validated %>
      <% if rating_was_invalid %>
        <% rating_class << " is-invalid" %>
      <% else %>
        <% rating_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :rating %>
    <%= f.number_field :rating, class: rating_class, placeholder: "Enter rating" %>
    <% if rating_was_invalid %>
      <% dining_experience.errors.full_messages_for(:rating).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% location_class = "form-control" %>
    <% location_was_invalid = dining_experience.errors.include?(:location) %>

    <% if was_validated %>
      <% if location_was_invalid %>
        <% location_class << " is-invalid" %>
      <% else %>
        <% location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :location_id %>
    <%= f.collection_select :location_id, Location.all, :id, :to_s, {}, class: "form-control" %>
    <% if location_was_invalid %>
      <% dining_experience.errors.full_messages_for(:location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% trip_class = "form-control" %>
    <% trip_was_invalid = dining_experience.errors.include?(:trip) %>

    <% if was_validated %>
      <% if trip_was_invalid %>
        <% trip_class << " is-invalid" %>
      <% else %>
        <% trip_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :trip_id %>
    <%= f.collection_select :trip_id, Trip.all, :id, :to_s, {}, class: "form-control" %>
    <% if trip_was_invalid %>
      <% dining_experience.errors.full_messages_for(:trip).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
